ul(data-role='listview')
    li(data-icon='delete')
        a(href='#', data-rel='close') Fermer
    li
        a(href='#', class='menu-trier', data-rel='close') Par bâtiment
    li
        a(href='#', class='menu-trier', data-rel='close') Par type de machine
    li
        a(href='#', class='menu-trier', data-rel='close') Par boisson
    li
        a(href='#', class='menu-trier', data-rel='close') Au plus prêt
