ul(data-role='listview')
    li(data-icon='delete')
        a(href='#', data-rel='close') Fermer
    li
        a(href='#', id='menu-display-batiment', data-rel='close') Par bâtiment
    li
        a(href='#', id='menu-display-type', data-rel='close') Par type de machine
    li
        a(href='#', data-rel='close') Au plus prêt
    li
        a(href='#popup-about', id='menu-display-about' data-rel='popup', data-position-to='window', data-transition='pop') À propos
