ul(data-role='listview')
    li(data-icon='delete')
        a(href='#', data-rel='close') Fermer
    li
        a(href='#popup-search', id='menu-display-boisson', data-transition='pop', data-rel='popup', data-position-to='window') Rechercher une boisson
    li
        a(href='#', id='menu-display-batiment', data-rel='close') Par bâtiment
    li
        a(href='#', id='menu-display-type', class='menu-trier', data-rel='close') Par type de machine
    li
        a(href='#', class='menu-trier', data-rel='close') Au plus prêt
