div(data-role='popup', id='search-popup', data-overlay-theme='b')
    div(data-role='header', data-theme='b')
        h1 Que voulez-vous boire ?
    div(role='main', class='ui-content')
        select(name='select-boisson', id='select-boisson')
            option(value='cafe') Un p'tit kawa
            option(value='coca') Un coca bien frais
        a(data-rel='back', data-theme='b', class='ui-shadow ui-btn ui-corner-all ui-btn-b', data-transition='pop', id='btn-boisson') OK