div(data-role='popup', id='popup-about', data-overlay-theme='b')
    div(data-role='header', data-theme='b')
        h1 A propos
    div(role='main', class='ui-content')
        p Pause INSA est développé et maintenu par des étudiants en 3MIC de l'INSA de Toulouse :
        ul
            li tirelipimpon
        p Pour toute suggestion ou amélioration, n'hésite pas à nous contacter !