div(data-role='popup', id='popup-infos', data-overlay-theme='b')
    div(data-role='header', data-theme='b')
        h1 Informations sur la machine
    div(role='main', class='ui-content')
        p infos sur x