doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.0.min.css')
        script(src='/javascripts/jquery-1.9.1.min.js')
        script(src='/javascripts/jquery.mobile-1.4.0.min.js')
        script(src='/socket.io/socket.io.js')
    body

        div(data-role='page', id='page-principale', class='ui-responsive-panel', data-title= title)
            div(data-role='header', data-position='fixed')
                h1= title
                a(href='#nav-panel', data-icon='bars', data-iconpos='notext') Menu
                a(href='#popup-search', data-icon='search', data-iconpos='notext', data-transition='pop', data-rel='popup', data-position-to='window') Find
            div(role='main', class='ui-content')
                include includes/popup-select.jade
                include includes/popup-infos.jade
                ul(data-role='listview', id='liste-machine', data-divider-theme='b', data-autodividers='true')
            div(data-role='panel', data-display='overlay', data-position-fixed='true', id='nav-panel')
                include includes/menu.jade

        script(src='/javascripts/objets.js')
        script(src='/javascripts/app.js')