doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.0.min.css')
        script(src='/javascripts/jquery-1.9.1.min.js')
        script(src='/javascripts/jquery.mobile-1.4.0.min.js')
        script(src='/socket.io/socket.io.js')
    body

        div(data-role='page', id='page-principale', class='ui-responsive-panel', data-title= title)
            div(data-role='header')
                h1= title
                a(href='#nav-panel', data-icon='bars', data-iconpos='notext') Menu
                a(href='#search-popup', data-icon='search', data-iconpos='notext', data-transition='pop', data-rel='popup', data-position-to='window') Find
            div(role='main', class='ui-content')
                include includes/popup-select.jade
                ul(data-role='listview', id='liste-machine', data-divider-theme='b')
            div(data-role='panel', data-display='overlay', id='nav-panel')
                include includes/menu.jade

        div(data-role='page', id='page-infos', data-dialog='true')
            div(data-role='header', data-theme='b')
                h1 Machine X
            div(role='main', class='ui-content')
                p infos concernant la machine

        script(src='/javascripts/app.js')
